# Ignore datasets
data/raw/**
data/processed/**

# Keep the folders themselves
!data/raw/
!data/processed/
!data/raw/.gitkeep
!data/processed/.gitkeep

# Ignore CSV files
*.csv

# Python cache
__pycache__/
.ipynb_checkpoints/

# system files
.DS_Store
