# Ignore raw and processed data files
data/raw/**
data/processed/**

# Keep the folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Python / Jupyter cache
__pycache__/
.ipynb_checkpoints/

# System files
.DS_Store
